<html>
<head>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <!-- App Style -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <h1>Ping Pong Tracker</h1>
            </div>
            <div class="row">
                <!-- Leaderboard -->
                <div class="col-md-4">
                    <div class="row" v-for="player in rankedPlayers">
                        <div class="col-md-12 player" v-bind:class="{selected: selectedPlayer1.name == player.name}" v-on:click="playerClickFunction(player.name)">
                            <h3>{{player.name}}</h3>
                            Score: {{player.score}}
                        </div>
                    </div>
                </div>
                <!-- Details -->
                <div class="col-md-8">                    
                    <!-- Selection Tabs -->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3 option" v-bind:class="{selected: detailMode == 'Stats'}" v-on:click="changeDetailMode('Stats')">
                            <h3 class="optionTitle">Stats</h3>
                        </div>
                        <div class="col-md-3 option" v-bind:class="{selected: detailMode == 'Games'}" v-on:click="changeDetailMode('Games')">
                            <h3 class="optionTitle">Games</h3>
                        </div>
                        <!-- <div class="col-md-2 option">
                            <h3 class="optionTitle">History</h3>
                        </div> -->
                    </div>
                    <!-- Details Area -->
                    <div class="row">
                        <div class="col-md-1"></div>
                        <!-- Stats -->
                        <div class="col-md-8" v-show="detailMode == 'Stats'">
                            <div class="" v-show="selectedPlayer1.name != undefined">
                                <div>
                                    <h2>{{selectedPlayer1.name}}</h2>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <span v-show="selectedPlayer2.name != undefined"><strong><i>vs:</i></strong></span>
                                    </div>
                                    <div class="col-xs-6">
                                        <h3 style="margin-top:-3px; margin-bottom:0px;">{{selectedPlayer2.name}}</h3>
                                        <!-- <select v-model="selectedPlayer2">
                                            <option v-for="player in rankedPlayers" v-show="player.name != selectedPlayer1.name" v-bind:value="player">{{player.name}}</option>
                                        </select> -->
                                    </div>
                                    <div class="col-xs-3">
                                        <button v-on:click="clearSelectedPlayer2()" style="margin-top: -5px;">Reset</button>
                                    </div>
                                </div> 
                                <!-- <div class="row" v-show="selectedPlayer2.name == undefined">
                                    <div class="col-md-4">
                                        <h4>Score:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{selectedPlayer1.score}}</h4>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Point Change:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{playerStats.totalChange}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Wins:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{playerStats.wins}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Losses:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{playerStats.losses}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Total Games:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{playerStats.totalGames}}</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>Win Rate:</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>{{playerStats.winRate | roundDecimal(1)}}%</h4>
                                    </div>
                                </div>
                                <hr>
                                <compare-stat v-for="player in allPlayerStats" 
                                    :class="{selected: player.name == selectedPlayer2.name}"
                                    :key="player.id" :name="player.name" 
                                    :wins="player.wins" :losses="player.losses" 
                                    v-on:click.native="chooseSelectedPlayer2(player.name)"></compare-stat>
                            </div>
                            <span v-show="selectedPlayer1.name == undefined">Select a Player</span>
                        </div>
                        <!-- Games -->
                        <div class="col-md-8" v-show="detailMode == 'Games'">
                            <div v-show="selectedPlayer1.name != undefined">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>{{selectedPlayer1.name}}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-1">
                                        <strong>vs:</strong>
                                    </div>
                                    <div class="col-xs-6">
                                        <select v-model="selectedPlayer2">
                                            <option v-for="player in rankedPlayers" v-show="player.name != selectedPlayer1.name" v-bind:value="player">{{player.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <button v-on:click="clearSelectedPlayer2()" style="margin-top: -5px;">Reset</button>
                                    </div>
                                </div>                                   
                                <div class="row" v-for="game in displayedGames">
                                    <div class="col-md-5 game"><h4>{{game.date}}</h4></div>
                                    <div class="col-md-2 game"><h4>{{game.opponent}}</h4></div>
                                    <div class="col-md-4"><h4>{{game.pointChange}}<img v-bind:src="showArrow(game.pointChange)"></h4></div>
                                </div>
                            </div>
                            <span v-show="selectedPlayer1.name == undefined">Select a Player</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height:50px;">
                <!-- Space filler so that footer doesn't cover bottom data -->
            </div>
        </div>
        <!-- Footer -->
        <div class="footer" v-bind:class="{error: postingError != ''}">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <span>Winner:</span> 
                        <select v-model="winner">
                            <option v-for="player in players" v-bind:value="player.name" v-show="player.name != loser">{{player.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <span>Loser:</span> 
                        <select v-model="loser">
                            <option v-for="player in players" v-bind:value="player.name" v-show="player.name != winner">{{player.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button v-on:click="postGame()">Post Game</button>
                    </div>
                    <div class="col-md-4" v-show="postingError != ''">
                        <span>{{postingError}}</span>
                    </div>
                    <!-- <div class="col-md-4">
                        <span>Table is:</span>
                        <span id="tableStatus" v-bind:class="{free: tableStatus=='FREE', used: tableStatus=='IN USE'}">{{tableStatus}}</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Component Scripts -->
    <script src="components/compStat.js"></script>
    <!-- App Script -->
    <script src="app.js"></script>
</body>
</html>