.player {
    border: 1px solid black;
    border-radius: 14px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 8px black;
    background: -moz-linear-gradient(-45deg, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 );
    cursor: pointer;
}
.player.selected {
    box-shadow: 0px 0px 8px yellow;
    border: 1px solid yellow;
}

.option {
    background: lightblue;
    margin-left: 5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.option.selected {
    background: #41a3f4;
}

.optionTitle {
    margin-top: 10px;
}

.game {
    padding-top: 5px;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background: darkgreen;
    padding-top :5px;
}

button {
    border-radius: 4px;
    font-size: 17px;
}

.footer span {
    font-size: large;
    font-weight: bold;
    color: white;
}

.footer.error {
    background: red;
}

#tableStatus.free {
    color: #41a3f4;
}

#tableStatus.used {
    color: yellow;
}

/* compStat scripts */
.compStat-player {
    border-radius: 4px;
    cursor: pointer;
}
.compStat-player.selected {
    background: #41a3f4;
}
.compStat-player:hover {
    background: lightblue;
}
.compStat-player.selected:hover {
    background: #41a3f4;
}
.compStat-gameRow {
    height: 20px;
    padding-top: 10px;
}
.compStat-gameSubRow {
    margin-top: 2px;
}
.compStat-game {
    display: inline-block;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    margin-left: 1px;
}
.compStat-win {
    background: darkseagreen;
}
.compStat-loss {
    background: red;
}